$background-color: #191919;

/* Fonts */
$inter-bold: inter-bold, sans-serif;
$inter-medium: inter-medium, sans-serif;
$inter-regular: inter-regular, sans-serif;
$inter-light: inter-light, sans-serif;